fastapi==0.115.11
sqlalchemy==2.0.38
pydantic==2.10.6
alembic==1.15.1
SQLAlchemy==2.0.38
psycopg2-binary==2.9.10
pytest==8.3.5
pytest-cov==6.0.0
uvicorn==0.34.0
passlib==1.7.4
pydantic-settings~=2.8.1
pydantic_core==2.27.2
python-dotenv==1.0.1
ruff==0.9.9
StrEnum==0.4.15
requests==2.32.3
beautifulsoup4==4.13.3